/* Filename: make_transaction_office.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 40%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.container h1 {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

select {
    appearance: auto;
    background-color: white;
    background-image: none;
    border: 1px solid #ccc;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    margin: 0 10px;
    background-color: #000000; /* Blue button */
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.2s ease-out;
    border: none;
}

.btn:hover {
    background-color: #333; /* Darker black on hover */
    transform: scale(1.05); /* Scale up slightly on hover */
}

.container button[type="submit"],
.container .btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container button[type="submit"]:hover,
.container .btn:hover {
    background-color: #333;
}

.container a {
    text-decoration: none;
    color: #007bff;
}

.container a:hover {
    text-decoration: underline;
}